header{
   background-color: #222222;
   padding-top: 30px;
   padding-bottom: 30px;
   padding-left: 30px;
   padding-right: 30px;
   margin: 0px;
   font-size: 14pt;
}
#photo{
    width: 200px;

}
span{
    margin: 0px;
    float: left;
    display: inline;
    font-size: 14pt;
    color : #598e30;
    font-family: "Kaushan Script","Helvetica Neue", Helvetica, Arial, cursive;
}

.navbar-default li{
  letter-spacing: 2px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 15px;
  text-transform: uppercase;
  font-size: 14pt;
  float: left;
}
nav ul{
    padding-left: 600px;
    padding-right: 0px;
    padding-bottom: 20px;
    margin: 0px;
    list-style: none;
    display: list-item;

}

nav a{
    text-decoration: none;
    color: white;
}
nav a:hover{
    color: #598e30;
}
body{
    color : #777;
    margin: 0px;
    font-family: Roboto Slab, Helvetica neue, Helvetica, Arial, sans-serif;
}

.bg-light-gray{
    background-color: #f7f7f7;
}

.lienvert{
  color : #71b43d;
}

h1,h2,h4{
  color : #333;
}
h1 {
  text-decoration: underline;
}
footer {
    padding: 25px 0;
    text-align: center;
}



/*trombinoscope css*/

.trombi img{
  display: block;
}
.trombi a{
  text-decoration: none;
}
.trombi li{
  width: 150px;
  height: 215px;
  text-align: center;
  float: left;
  margin: 15px;

}
.trombi{
  list-style-type: none;
  display: block;
}
.trombisection{
  margin :auto;
  width: 960px
}
